<div style="background-color: #828e73;padding: 50px; text-align: center;"> </div>
<div class="container py-md-5"style="text-align: center;">
    <div class="row">
        <div class="col-md-6">
            <md-button class="md-raised" ng-click="openHilton();">
                <img class="png-icon" src="images/hotel_logo.png" style="max-height: 200px;">
            </md-button><br><br>
            <h3>Hotel</h3><br>
            Hilton DoubleTree<br>611 W. Wisconsin Avenue<br>Milwaukee, WI 53203<br>414-273-2950 <br><br>

            <p>For your convenience, a block of rooms has been reserved at the Hilton DoubleTree in Milwaukee, WI. 
            Please use the link above in order to receive a discounted rate. Room reservations are available till 
            <strong>March 7, 2021</strong>. We look forward to seeing you!</p><br>

            For those who wish to stay in an alternate location, there are several hotels nearby:<br><br>
            
            <a href="https://www.hilton.com/en/hotels/mkemhhf-hilton-milwaukee-city-center/">The Hilton Milwaukee City Center</a><br>
                Walking distance, 3 blocks east<br>
                509 W Wisconsin Ave, Milwaukee, WI 53203<br>
                <br>
            <a href="https://www.hotelmetro.com/">Hotel Metro</a> <br>
                1.3 miles East of St James<br>
                411 E Mason St, Milwaukee, WI 53202<br>
                <br>
            <a href="https://www.brewhousesuites.com/">Brew House</a>  <br>
                0.7 miles North of St James, easy uber ride<br>
                1215 N 10th St, Milwaukee, WI 53205<br>
                <br>
            <a href="https://www.saintkatearts.com/">Saint Kate</a><br>
                1.0 miles East of St James <br>
                139 E Kilbourn Ave, Milwaukee, WI 53202<br>
                <br>
            <a href="https://www.thedubbeldutch.com/">Dubbel Dutch</a><br>
                1.5 miles from St James<br>
                817 N Marshall St, Milwaukee, WI 53202<br>
                <br>
            
        </div>
        <div class="col-md-6">
            <md-button class="md-raised" ng-click="openFlights();">
                <img class="png-icon" src="images/airport_logo.png" style="max-height: 200px;">
            </md-button><br><br>
            <h3>Airport</h3><br>
            <p>The Milwaukee Mitchell International Airport is located less than 15 minutes from the downtown area, 
            including the venue itself. Uber/Lyft is available for travel to and from the airport. Safe travels!</p>
        </div>
    </div>
</div>