
<!-- banner -->
<section class="banner layer" id="home">
	<div class="container">
		<div class="banner-text">
			<div class="slider-info mb-4">
				<div class="banner-heading">
					<h3>Kasia & Royce</h3>
					<h4 style="color:white;">Milwaukee, Wisconsin - April 9th, 2022<h4><br>
				</div>
				<a href="#!stream">Live Stream</a>
			</div>
			<!-- To bottom button-->
			<!-- <div class="thim-click-to-bottom">
				<div class="rotate">
					<a href="#intro" class="scroll">
						<span class="fa fa-angle-double-down"></span>
					</a>
				</div>
			</div> -->
			<!-- //To bottom button-->

		</div>
	</div>
</section>
<!-- //banner -->

<!-- Intro -->
<section class="Intro py-5" id="intro" style="background-color: white;">
	<div class="container py-md-5">
		<h3 style="text-align: center;"> “So they are no longer two, but one. Therefore what God has joined together, let man not separate.” </h3><br>
		<h4 style="text-align: center;" >— Matthew 19:6</h4><br>
		<!-- <h4 style="text-align: center;" ng-mouseover="changeText=true" ng-mouseleave="changeText=false">— Matthew 19:6</h4> -->
		<!-- <div class="Engagement2-img"></div> -->

		<md-card layout="column" layout-align="center center" style="padding-bottom: 10px" >
		<!-- <h3>AutoSlide Carousel</h3> -->
		<jk-carousel
			data="dataArray"
			item-template-url="'views/item-template.html'"
			max-width="900" 
			max-height="600"
			auto-slide="true"
			auto-slide-time="5000" ></jk-carousel>
		</md-card>

		<!-- <div class="beach-img"></div> -->
		<!-- <div class="beach-img" ng-if="!changeText"></div> -->
		<!-- <div class="beachbetter-img" ng-if="changeText"></div> -->
	</div>
</section>
<!-- Intro -->



<!-- IMAGES -->
<section class="images" style="background-color: #828e73;padding-top: 50px;padding-bottom: 30px;">
	<div class="container-fluid">
		<div class="row" style="height: 500px;">
			<div style="width: 8%;"></div>
			<div class="ceremony-img">
				<h4>The Ceremony<br>4:00pm</h4>
			</div>
			<div style="width: 4%;"></div>
			<div class="reception-img">
				<h4>The Reception<br>6:00pm - 11:00pm</h4>
			</div>
			<div style="width: 8%;"></div>
		</div>
	</div>
</section>
<div style="background-color: #828e73; padding-bottom: 50px; text-align: center;">
	<h4><b>St. James 1868</b><br>
	833 W Wisconsin Ave<br>
	Milwaukee, Wisconsin</h4><br>
	<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2916.1439784403083!2d-87.92527628452208!3d43.03840207914719!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x880519435fa21ee3%3A0x8a024f5cd293f5d4!2sSt.%20James%201868%20%7C%20Milwaukee%20Wedding%20%26%20Event%20Venue!5e0!3m2!1sen!2sus!4v1640885243788!5m2!1sen!2sus" width="80%" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
</div>
<!-- IMAGES -->