<div style="background-color: #828e73;padding: 50px; text-align: center;"> </div>

<div class="container py-md-5"style="text-align: center;">
    <div class="row">
        <div class="col-md-6">
            <img src="images/Olenka.jpg">
            <strong>Olenka Ashwill</strong><br>Maid of Honor<br>
            <p style="text-align: left;">
                Olenka is my favorite sister who is a junior at Wheaton College in Mathematics and Economics. 
                Obviously I’ve known her since birth, and if you need fashion advice, I’d go to her over me 
                any day. She is fierce, always tells me exactly how it is, and I can talk to her about anything 
                and everything. Even though she’s my baby sister, she’s a boss, and even started the first Women 
                in STEM club at Wheaton!
            </p>
        </div>
        <div class="col-md-6">
            <img src="images/Prateek.jpg">
            <strong>Prateek Gupta</strong><br>Best Man<br>
            <p style="text-align: left;">
                Prateek is one of my best friends from college. He was getting a degree in Electrical Engineering 
                while I was playing around with airplanes and we somehow ended up living together TWICE on separate 
                occasions. He’s grumpy but loveable and will make you an omelet in the morning in a heartbeat (they’re 
                quite good). He’s one of my most favorite and least favorite people to talk to because he will ask good 
                questions you never even thought of asking and seems to know anything and everything about finance. Oh, 
                and he got bored during his first job and decided to get his Master’s degree to pass the time. Don’t 
                ask him about butterflies though.
            </p>
        </div>
    </div><br><br>

    <div class="row">
        <div class="col-md-6">
            <img src="images/Ellie.jpg">
            <strong>Ellie Aggarwal</strong>
            <p style="text-align: left;">
                Hi! I’m Ellie and I’m Royce’s little sister. I’m currently going to the University of Utah and 
                studying business! Kasia and I met, uh, through Royce. Kasia has become such an important person 
                in my life and I could not be more honored to be part of her big day. As I have always been the 
                big sister to my siblings, I’m so happy to have Kasia as older sister now. Kasia will forever 
                be my hiking and pickle bud. I’m so excited to have [have had] her in our family.
            </p>
        </div>
        <div class="col-md-6">
            <img src="images/Deven.jpg">
            <strong>Deven Aggarwal</strong>
            <p style="text-align: left;">
                I’m Deven and I'm Royce's younger brother. I am currently a freshman, studying Mechanical Engineering 
                at the University of Arizona in Tucson. Royce and I met at my birth in 2003 and he has been my favorite 
                brother ever since. Although Royce and I have different moms, I feel like we’ve remained close throughout 
                my lifetime, with every visit picking up where we last left it. We both share interest in anything 
                involving mechanics so any questions we might have, one of us most likely knows the answer. Royce’s 
                fascination with how things work has definitely had an effect on my interests, as now the both of us are 
                studying/working in the STEM field. I always enjoy time with Royce, and I’m excited to spend more time 
                with him and now Kasia.
            </p>
        </div>
    </div><br><br>

    <div class="row">
        <div class="col-md-6">
            <img src="images/Anna.jpg">
            <strong>Anna Stevenson</strong>
            <p style="text-align: left;">
                Hi there! I’m Anna, one of Kasia’s best friends since childhood. Kasia has always been the one 
                with the best ideas, the sweetest words, and the most motivation. She is adventurous and loving, 
                driven and kind. It has been a gift to get to grow up with her as my friend. Though we went to 
                different colleges and I now live in Kansas with my husband and teach math, Kasia and I are always 
                able to pick right back up where we left off, and I wouldn’t trade that for the world. So excited 
                that Royce is the one who gets this gem. To God be the glory!
            </p>
        </div>
        <div class="col-md-6">
            <img src="images/Andjey.jpg">
            <strong>Andjey Ashwill</strong>
            <p style="text-align: left;">
                I’m Andjey, aka Kasia’s oldest brother, and I began my studies at Purdue in Electrical Engineering 
                several years before Kasia followed me to the same university. My first memory of Royce was at Purdue’s 
                recreational center, the Corec. I had joined Kasia and her friends for planks, and I remember watching 
                Royce laugh in pain and happiness as Kasia tortured us with the exercises. Kasia had told me earlier that 
                she liked Royce, and it was clear the feeling was mutual. Royce and I lived together for over a year and 
                we discovered a shared appreciation for fixing things and 3D printing, among other hobbies. Through the 
                years I’ve enjoyed watching Kasia and Royce learn and grow in their faith together, both from near and 
                afar. There will be many years of exercises, fun and learning to come, and I’m looking forward to seeing 
                more of what the future has in store for Royce and Kasia!
            </p>
        </div>
    </div><br><br>

    <div class="row">
        <div class="col-md-6">
            <img src="images/Tarin.jpg">
            <strong>Tarin Cosby</strong>
            <p style="text-align: left;">
                My name is Tarin. Kasia and I met when we roomed together in Virginia Beach for a summer mission! 
                I currently teach first grade in Indiana. If I am not teaching you can find me outside, preferably 
                on a mountain somewhere. I enjoy backpacking/hiking, reading, and exploring new places. I am so 
                PROUD of Kasia and cannot wait for her to enter into this new season. Her passion and love for 
                Christ will serve her well in marriage!
            </p> 
        </div>
        <div class="col-md-6">
            <img src="images/Mikowai.jpg">
            <strong>Mikowai Ashwill</strong>
            <p style="text-align: left;">
                Hi! I’m Mikowai and the younger of Kasia’s two older brothers. I graduated from Northwestern University 
                next to Chicago with a degree in both Industrial Engineering and Concert Piano. Completely in line with 
                my studies, I had been living in downtown New York working in finance up until recently when I accepted 
                a job offer in San Francisco! Royce and I haven’t had nearly enough time to hang out together but have 
                enjoyed the time spent together over family holidays and Mexico. I look forward to celebrating and being 
                a part of this special day for Royce and for my sister!
            </p>
        </div>
    </div><br><br>

    <div class="row">
        <div class="col-md-6">
            <img src="images/Carleigh.jpg">
            <strong>Carleigh Helms</strong>
            <p style="text-align: left;">
                Hi everyone! I am Carleigh, I am a teacher in Indianapolis and hopelessly in love with my cat 
                Rhapsody. Kasia would describe me as a comedian and a dancing queen, and she isn’t wrong. I met 
                Kasia when we were roommates in Virginia Beach while we were on mission with Cru. Being roommates 
                with her was just the beginning of a blessing as Kasia has continued to be someone I can rely on 
                as a dear friend and sister in Christ. Her compassion, consideration, and love for others is beyond 
                admirable and such a reflection of Christ. I am beyond excited to stand beside her on her big day!
            </p>
        </div>
        <div class="col-md-6">
            <img src="images/Zack.jpg">
            <strong>Zack Hardesty</strong>
            <p style="text-align: left;">
                Hello! I'm Zack. Royce and I (surprise surprise) met each other during our freshman year at Purdue. 
                I was born and raised in Indiana and graduated from Purdue with a degree in Agricultural Business. 
                Royce and I, and by extension Kasia, were friends first then rock climbing buddies last. I enjoy 
                camping and any sort of outdoor adventure, of which Royce and I have one or two too many stories 
                about. I am always up for an interesting debate and am guaranteed to have something to say about 
                it. If you want to talk Chicago sports teams, I’m your guy.
            </p>
        </div>
    </div><br><br>

     <div class="row">
        <div class="col-md-6">
            <img src="images/Lauren.jpg">
            <strong>Lauren Oparah</strong>
            <p style="text-align: left;">
                Hi everyone! My name is Lauren and I am currently completing my masters at Rice University in 
                bioengineering. Kasia and I met at Purdue in our freshmen year English course, and we connected 
                over our mutual love for purple converse! Ever since then she has been a very necessary presence 
                in my life, and I am very lucky to have her as a friend. Kasia is one of the most awesome, 
                inspiring people that I’ve ever met and I am so excited to see what this new chapter brings for 
                her and Royce!
            </p>
        </div>
        <div class="col-md-6">
            <img src="images/Elijah.jpg">
            <strong>Elijah Rogers</strong>
            <p style="text-align: left;">
                Hi everyone, I'm Elijah! Royce and I met during our freshman year at Purdue. We would both start in 
                aeronautical engineering but end up changing majors (me more than once) down the road. Whenever we 
                needed a break, we'd play a round of Super Smash Bros or talk about the pitfalls of modern society, 
                although sometimes our study sessions consisted more of breaks than they did studying! Even though I 
                left Purdue early to pursue seminary school, Royce and I maintained our friendship over the years. 
                I'm very excited for Royce and Kasia and wish them all the best in their marriage.
            </p>
        </div>
    </div><br><br>

   <div class="row">
        <div class="col-md-6">
            <img src="images/Steph.jpg">
            <strong>Steph Martinez</strong>
            <p style="text-align: left;">
                Hi! I’m Steph, an accelerated quality laboratory technician at an engineering company in the suburbs 
                of Chicago. Kasia and I met my Sophomore year through our biological engineering major but we truly 
                bonded and became very close when both of our roommates left for a semester. We both practically became 
                each other's roommates but with our own individual rooms! It was the best! Chicken wings, deep life 
                talks, face masks with snacks, and late night study sessions are some of my favorite college memories. 
                Since then, Kasia has become someone I look to for advice and someone who I know will always be there. 
                I am so incredibly grateful for her and our amazing friendship. I am so excited to be a part of this 
                amazing chapter in her life and excited to see what the future holds for her and Royce!
            </p>
        </div>
        <div class="col-md-6">
            <img src="images/Tyler.jpg">
            <strong>Tyler Rex</strong>
            <p style="text-align: left;">
                I met Royce in 2017 at Purdue. He and I started out as mutual friends of Kasia but immediately started bonding  
                over our shared interest in video games and being awesome. We went on many trips together, including Toronto, 
                Michigan and Georgia, getting lost and taking wrong turns many times along the way. I graduated from Purdue 
                in 2019 with a degree in Computer Science and currently live in D.C. with my girlfriend Bri. I work for the 
                United States Department of State as an information technology specialist. Unlike Royce, I am a big sports 
                fan and especially like to watch football and hockey.
            </p>
        </div>
    </div><br><br>

    <div class="row">
        <div class="col-md-6">
            <img src="images/Callista.jpg">
            <strong>Callista Ohnemus</strong>
            <p style="text-align: left;">
                Hi!! I’m Callista and I have been Kasia’s roommate at Purdue for the past 3 years. Since meeting Kasia 
                on my floor freshman year, bonding over morning gym runs, rock climbing and staying up to the wee hours 
                on problem sets, I think it goes without saying she’s been with me ever since. After all the time we’ve 
                spent living together, I can truly say she’s my soul sister. Though I went on to study Mechanical 
                Engineering and she Biological, I love that we share this excitement about living life and experiencing 
                it all, be it big or small. I’ve been lucky enough to have seen Kasia and Royce’s beautiful relationship 
                grow from the beginning. I am now in Spain teaching English, but I would never let the distance keep me 
                from being there on their special day!
            </p>
        </div>
        <div class="col-md-6">
            <img src="images/Ben.jpg">
            <strong>Ben DiBuduo</strong>
            <p style="text-align: left;">
                Royce and I met while we were both in college at Purdue and going to City of God Church. We quickly bonded 
                over our love of airplanes, rock climbing, and Jesus. I currently work at Purdue as a Flight Instructor for 
                the Professional Flight Program at Purdue and we would see each other while Royce was doing maintenance work 
                at the hangar that I was flight instructing out of. After graduating both Royce and I continued to grow our 
                friendship by serving on the hospitality team at church together and going rock climbing when he was in town. 
                When Royce moved back to West Lafayette in 2020, we would hang out more frequently and when hanging out, would 
                talk about airplanes until everyone else hanging out with us would be ready to talk about any other topic.
            </p>
        </div>
    </div><br><br>


</div>