<div style="background-color: #828e73;padding: 50px; text-align: center;"> </div>
<div class="container py-md-5"style="text-align: center;">
    <h3 style="font-weight: 1000;">REGISTRY</h3><br>
    For those who wish to celebrate with a gift, we have registered at the following locations:
    <br><br><br>
    <md-button class="md-raised" ng-click="openTarget();">
        <img class="png-icon" src="images/target_logo.png" style="max-height: 200px;">
    </md-button>
    <md-button class="md-raised" ng-click="openAmazon();">
        <img class="png-icon" src="images/amazon_logo.png" style="max-height: 200px;">
    </md-button>
    <md-button class="md-raised" ng-click="openPottery();">
        <img class="png-icon" src="images/potterybarn_logo.png" style="max-height: 200px;">
    </md-button>
</div>