<div style="background-color: #828e73;padding: 50px; text-align: center;"> </div>
<section class="Intro py-5" id="intro" style="background-color: white; ">
    <h4 style="text-align: center; padding-right: 20%; padding-left: 20%;">Thank you for choosing to join us virtually! We are so honored to have you part of our day. The livestream will start at approximately 3:45pm CDT on April 9th! You may need to reload the page at this time to refresh the livestream.</h4><br>
	<!-- <div class="beach-img"></div> -->
    <div style="text-align: center;">
        <iframe src="https://player.twitch.tv/?channel=kasiaroyce&parent=www.royceandkasiawedding.com" frameborder="0" allowfullscreen="true" scrolling="no" height="756" width="1240"></iframe>
    </div>
</section>